
.fighter{
    width           : 150px;
    height              : 150px;
    border              : 1px solid grey;
    background-color    : rgb(63, 63, 63);
    /* float               : left; */
    margin              : 5px;
    align-content       : center;
    text-align          : center;
    display             : inline-block;
    object-fit          : contain;
    zoom                : 150%;
}

.my-pick{
background-color: rgb(0, 60, 255);
}

.giant{
margin: auto;
width: 1000px;
}
.container{

    width               : auto;
    height              : 300px;
    border              : 3px double rgb(0, 60, 255);
    display             : inline-block;
    margin           : auto;
    padding             : 5px;
    background-color: rgba(236, 250, 255, 0.507);
}

h1, h3, .header{
    text-align          : center;

}

.header{
 background-color: white;
 border: 4px ridge grey;
max-width: 300px;
margin: auto;

}
.health-bar-span{
color: red;
background-color: white;
border: 1px solid grey;

}

button{
    margin: 20px;
    width: 200px;
    height: 100px;
    background-color: rgb(104, 0, 0);
}

.container-pick{

    border              : 3px double rgb(0, 60, 255);
    color: rgb(0, 60, 255);
}

.container-rest{
 
    border              : 3px double rgb(255, 255, 255);
    color: white;
}
.container-ring{
 width: 250px;
margin: auto;
border: 3px double red;
color: red;
}
